@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #323232;
  text-align: center;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header {
    display: inline-flex;
    width: 100vw;
  }
}

.header__logo {
  display: inline-flex;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: 10px;
    margin-left: 30px;
  }
}

.nav {
  color: #FFFFFF;
}
.nav__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__links {
    display: inline-flex;
    margin-left: 2rem;
    padding-top: 10px;
  }
}
.nav__link {
  width: 50%;
}
.nav__link--bar {
  border-bottom: 5px solid #FFFFFF;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .nav__link {
    margin-left: 3rem;
  }
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.hero {
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/Images/hero-bio.jpg);
}

.hero__title {
  font-weight: 600;
  color: #FAFAFA;
  padding-top: 3.8rem;
  padding-left: 1rem;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  width: 100vw;
  font-family: "AvenirNext LT Pro";
}

body {
  width: 100vw;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about__title {
  font-weight: 600;
  margin: 0;
  padding: 24px 16px 16px 16px;
}
.about__content {
  width: 100%;
}
.about__content--quote {
  font-weight: 600;
}
.about__content--title {
  font-size: 18px;
  padding-top: 1rem;
}
.about__img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__paragraph {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.photo {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #FAFAFA;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.photo-gallery__img {
  display: flex;
  width: 100%;
}
.photo-gallery__title {
  font-weight: 600;
  padding-top: 1rem;
}

html {
  height: 100%;
}

.footer {
  background-color: #323232;
  padding-left: 16px;
  padding-right: 16px;
}
.footer__content {
  margin: 0;
}
.footer__content--socials {
  display: flex;
  gap: 30px;
  padding-top: 4px;
  padding-bottom: 16px;
}
.footer__content--title {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  padding-top: 16px;
}
.footer__content--info {
  font-size: 13px;
  color: #FFFFFF;
}
.footer__content--info--people {
  font-weight: 600;
  padding-bottom: 16px;
}
.footer__content--info--item {
  padding-bottom: 16px;
}
.footer__logo {
  margin-top: 4rem;
}
.footer__copyright {
  font-size: 10px;
  color: #FFFFFF;
  padding-bottom: 16px;
}/*# sourceMappingURL=main.css.map */