@use './variables'  as *;
@use './mixins' as *;

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
        font-weight: 600;
        margin: 0;
        padding: 24px 16px 16px 16px;

        @include tablet {
            padding-top: 48px;
            padding-bottom: 36px;
        }

        @include desktop {
            font-size: 2.5rem;
            padding-left: 7rem;
        }
    }


    &__content {
        display: flex;
        height: 48vh;

        &--quote {
            font-weight: 600;
            line-height: 1.5rem;

            @include tablet {
                padding-right: 4rem;
                font-size: 1.43rem;
                word-spacing: 0.2rem;
                line-height: 1.8rem;
                padding-left: 0.6rem;
            }

            @include desktop {
                padding-left: 9rem;
                
                p {
                    padding-top: 2rem;
                }
            }

            @include large-desktop {
                padding-top: 30rem;
                margin-left: 3.5rem;
            }

            &--bryan {
                font-size: 0.8rem;

                @include tablet {
                    font-size: 1.1rem;
                }
            }
        }

        &--paragraph {
            @include tablet {
                display: flex;
                width: 80vw;
            }

            @include desktop {
                width: 53vw;
                padding-left: 16rem;
            }
        }


        &--title {
            font-size: 18px;
            padding-top: 2rem;

            @include tablet {
                font-weight: 600;
                font-size: 24px;
            }

            @include desktop {
                font-size: 2rem;
                padding-left: 15.78rem;
            }
            
        }

        &--main {
            font-size: 0.9rem;
        }

        &--sub {
            font-size: 0.9rem;

            @include tablet {
                padding-left: 1.5rem;
                margin-right: -2.8rem;
            }
        }
    }

    &__img {
        display: flex;
        width: 90vw;
        height: 45vh;
        padding-left: 18px;
        object-fit: cover;

        @include tablet {
            display: flex;
            width: 80vw;
            height: 55vh;
            padding-left: 75px;
        }

        @include desktop {
            width: 75vw;
            height: 76vh;
            padding-left: 13rem;
        }

        @include laptop {
            margin-left: 1.4rem;
        }

        @include large-desktop {
            height: 128vh;
            margin-left: 5rem;
        }
    }

    &__paragraph {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
        word-spacing: 0.1rem;

        @include tablet {
            padding-left: 60px;
            padding-top: 4rem;
        }
        
        @include laptop {
            width: 89vw;
            margin-left: 1.8rem;
        }

        @include desktop {
            padding-top: 10rem;
        }

        @include large-desktop {
            margin-left: 14rem;
            margin-top: 2rem;
        }
    }
}

