.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
        margin: 0;
        padding: 24px 16px 16px 16px
    }


    &__content {
        width: 100%;
    }

    &__img {
        width: 100vw;
        object-fit: cover;
    }

    &__paragraph {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}