.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
        font-weight: 600;
        margin: 0;
        padding: 24px 16px 16px 16px
    }


    &__content {
        width: 100%;

        &--quote {
            font-weight: 600;
        }

        &--title {
            font-size: 18px;
            padding-top: 1rem;
        }
    }

    &__img {
        width: 100vw;
        object-fit: cover;
    }

    &__paragraph {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}