@use '../partials/variables' as *;
@use '../partials/mixins' as *;

html {
    height: 100%;
}

.footer {
    background-color: $bandsiteblack;
    padding-left: 16px;
    padding-right: 16px;

    @include tablet {
        position: relative;
    }


    &__content {
        margin: 0;

        @include tablet {
            width: 100%;
        }

        
        &--top {
            @include tablet {
                display: inline-flex;
            }
        }

        &--socials {
            display: flex;
            gap: 30px;
            padding-top: 4px;
            padding-bottom: 16px;

            @include tablet {
                padding-left: 2rem;
                padding-top: 2rem;
            }
        }
    }
    

    &__content--title {
        font-size: 24px;
        font-weight: 600;
        color: $white;
        padding-top: 16px;
    }



    &__content--info {
        font-size: 13px;
        color: $white;

        @include tablet {
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
        }

        &--people {
            font-weight: 600;
            padding-bottom: 16px;
        }

        &--item {
            padding-bottom: 16px;
        }
    }

    &__logo {
        margin-top: 4rem;

        @include tablet {
            margin-top: 0.5rem;
        }

        &--img {
            @include tablet {
                position: absolute;
                top: 2.3rem;
                right: 3rem;
            }
        }

    }

    &__copyright {
        font-size: 10px;
        color: $white;
        padding-top: 16px;
        padding-bottom: 16px;

        @include tablet {
            padding-bottom: 2rem;
        }
    }
}


