@use '../partials/variables' as *;
@use './typography' as *;
@use './mixins' as *;

.hero {
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    background-image: linear-gradient(rgba(50, 50, 50, 0.5),rgba(50, 50, 50, 0.5)), url(/assets/Images/hero-bio.jpg);

    @include tablet {
        height: 123vh;
    }

    @include desktop {
        height: 132vh;
    }
}

.hero__title {
    font-weight: 600;
    color: $alabaster;
    padding-top: 3.8rem;
    padding-left: 1rem;

    @include tablet {
        font-size: 3rem;
        padding-left: 3rem;
        padding-top: 13rem;
    }

    @include desktop {
        font-size: 4rem;
        padding-left: 10rem;
        padding-top: 8rem;
    }
}





//Shows 2nd Page

.hero2 {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5),rgba(50, 50, 50, 0.5)), url(/assets/Images2/hero-shows.jpg);
    display: flex;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    @include tablet {
        height: 123vh;
    }

    @include desktop {
        height: 132vh;
    }
}

.hero2__title {
    color: $alabaster;

    @include tablet {
        font-size: 3rem;
    }

    @include desktop {
        font-size: 4rem;
    }
}

.playlist {
    @include tablet {
        width: 60vw;
    }
}
