@use '../partials/variables' as *;
@use './typography' as *;

.hero {
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    background-image: linear-gradient(rgba(50, 50, 50, 0.5),rgba(50, 50, 50, 0.5)), url(/assets/Images/hero-bio.jpg);
}

.hero__title {
    font-weight: 600;
    color: $alabaster;
    padding-top: 3.8rem;
    padding-left: 1rem;
}
