@use './variables' as *;
@use './mixins' as *;

.photo {
    background-color: $alabaster;

    @include tablet {
        padding-left: 2rem;
    }
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 16px;
    padding-right: 16px;

    @include tablet {
        padding-bottom: 2rem;
    }

    &__img {
    width: 100%;

    @include tablet {
        width: 30%;
    }
    }

    &__title {
    font-weight: 600;
    padding-top: 1rem;

    @include tablet {
        padding-left: 1rem;
    }
    }
} 