@use './variables' as *;
@use './mixins' as *;

.shows {

    &__item {
        list-style: none;
    }

    &__date {
        padding-bottom: 1rem;
    }

    &__venue {
        padding-bottom: 1rem;
    }

    &__location {
        padding-bottom: 2rem;
    }

}