
//Breakpoints
$mobile-s-breakpoint: 320px;
$mobile-m-breakpoint: 375px;
$mobile-l-breakpoint: 425px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1440px;
$desktop-l-breakpoint: 2560px; 

//Primary Colors
$bandsiteblack: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

//Secondary Colors
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

//API Key 
$API: d7f73ceb-3054-49c8-b058-596d1c0b020b
