@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #323232;
  text-align: center;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header {
    display: inline-flex;
    width: 100vw;
    padding-top: 1.2rem;
  }
}

.header__logo {
  display: inline-flex;
  padding-top: 0.7rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    padding-top: 2.7rem;
    padding-left: 6rem;
  }
}

.nav {
  color: #FFFFFF;
}
@media screen and (min-width: 1440px) {
  .nav {
    margin-left: -6rem;
  }
}
.nav__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__links {
    display: inline-flex;
    margin-left: 2rem;
    padding-top: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .nav__links {
    padding-left: 5rem;
  }
}
.nav__link {
  width: 100%;
  text-decoration: none;
}
.nav__link--bar {
  border-bottom: 5px solid #FFFFFF;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .nav__link--bar {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .nav__link--bar {
    padding-bottom: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  .nav__link {
    padding-top: 1.1rem;
  }
}
.nav__link1 {
  color: #FFFFFF;
  text-decoration: none;
}

.nav__link :nth-child(1) {
  color: #FFFFFF;
  text-decoration: none;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.hero {
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/Images/hero-bio.jpg);
}
@media screen and (min-width: 768px) {
  .hero {
    height: 123vh;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    height: 132vh;
  }
}

.hero__title {
  font-weight: 600;
  color: #FAFAFA;
  padding-top: 3.8rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
    padding-left: 3rem;
    padding-top: 13rem;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 4rem;
    padding-left: 10rem;
    padding-top: 8rem;
  }
}

.hero2 {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/Images2/hero-shows.jpg);
  display: flex;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .hero2 {
    height: 123vh;
  }
}
@media screen and (min-width: 1440px) {
  .hero2 {
    height: 132vh;
    display: flex;
    flex-direction: row;
  }
}

.hero2__title {
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .hero2__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  .hero2__title {
    font-size: 4rem;
    width: 100%;
    padding-top: 22rem;
  }
}
@media screen and (min-width: 1440px) {
  .hero2__title--content {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .playlist {
    width: 60vw;
  }
}
@media screen and (min-width: 1440px) {
  .playlist {
    padding-top: 40rem;
    width: 60%;
  }
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  width: 100%;
  font-family: "AvenirNext LT Pro";
}

body {
  width: 100%;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about__title {
  font-weight: 600;
  margin: 0;
  padding: 24px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .about__title {
    font-size: 2.5rem;
    padding-left: 7rem;
  }
}
.about__content {
  display: flex;
  height: 48vh;
}
.about__content--quote {
  font-weight: 600;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__content--quote {
    padding-right: 4rem;
    font-size: 1.43rem;
    word-spacing: 0.2rem;
    line-height: 1.8rem;
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .about__content--quote {
    padding-left: 9rem;
  }
  .about__content--quote p {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 2560px) {
  .about__content--quote {
    padding-top: 30rem;
    margin-left: 3.5rem;
  }
}
.about__content--quote--bryan {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .about__content--quote--bryan {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .about__content--paragraph {
    display: flex;
    width: 80vw;
  }
}
@media screen and (min-width: 1440px) {
  .about__content--paragraph {
    width: 53vw;
    padding-left: 16rem;
  }
}
.about__content--title {
  font-size: 18px;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .about__content--title {
    font-weight: 600;
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .about__content--title {
    font-size: 2rem;
    padding-left: 15.78rem;
  }
}
.about__content--main {
  font-size: 0.9rem;
}
.about__content--sub {
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .about__content--sub {
    padding-left: 1.5rem;
    margin-right: -2.8rem;
  }
}
.about__img {
  display: flex;
  width: 90vw;
  height: 45vh;
  padding-left: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .about__img {
    display: flex;
    width: 80vw;
    height: 55vh;
    padding-left: 75px;
  }
}
@media screen and (min-width: 1440px) {
  .about__img {
    width: 75vw;
    height: 76vh;
    padding-left: 13rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__img {
    margin-left: 1.4rem;
  }
}
@media screen and (min-width: 2560px) {
  .about__img {
    height: 128vh;
    margin-left: 5rem;
  }
}
.about__paragraph {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  word-spacing: 0.1rem;
}
@media screen and (min-width: 768px) {
  .about__paragraph {
    padding-left: 60px;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__paragraph {
    width: 89vw;
    margin-left: 1.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .about__paragraph {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 2560px) {
  .about__paragraph {
    margin-left: 14rem;
    margin-top: 2rem;
  }
}

.photo {
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .photo {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  .photo {
    padding-left: 6.5rem;
  }
}
@media screen and (min-width: 2560px) {
  .photo {
    margin-left: 2.5rem;
  }
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    padding-bottom: 2rem;
  }
}
.photo-gallery__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo-gallery__img {
    width: 30%;
  }
}
.photo-gallery__title {
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery__title {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .photo-gallery__title {
    font-size: 2.5rem;
  }
}

html {
  height: 100%;
}

.footer {
  background-color: #323232;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
  }
}
.footer__content {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__content {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .footer__content {
    width: 50%;
    padding-left: 6.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__content--top {
    display: inline-flex;
  }
}
@media screen and (min-width: 1440px) {
  .footer__content--top {
    padding-top: 1rem;
  }
}
.footer__content--socials {
  display: flex;
  gap: 30px;
  padding-top: 4px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__content--socials {
    padding-left: 2rem;
    padding-top: 2.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .footer__content--socials {
    padding-left: 3rem;
    padding-top: 3.3rem;
  }
}
.footer__content--title {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  padding-top: 16px;
}
@media screen and (min-width: 1440px) {
  .footer__content--title {
    font-size: 34px;
  }
}
.footer__content--info {
  font-size: 13px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__content--info {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
  }
}
.footer__content--info--people {
  font-weight: 600;
  padding-bottom: 16px;
}
.footer__content--info--item {
  padding-bottom: 16px;
}
.footer__logo {
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo--img {
    position: absolute;
    top: 2.3rem;
    right: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo--img {
    top: 4.3rem;
    right: 7.4rem;
  }
}
.footer__copyright {
  font-size: 10px;
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .footer__copyright {
    padding-left: 6.46rem;
  }
}

.conversation {
  background-color: #FFFFFF;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .conversation {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .conversation {
    margin-left: 180px;
    width: 70%;
  }
}
@media screen and (min-width: 2560px) {
  .conversation {
    padding-left: 12rem;
  }
}
.conversation__heading {
  display: block;
  color: #AFAFAF;
  margin-bottom: 5px;
}
.conversation input {
  border: 2px solid #E1E1E1;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  line-height: 2em;
  padding-left: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  font-family: "AvenirNext LT Pro";
}
@media screen and (min-width: 1440px) {
  .conversation input {
    height: 48px;
    font-size: 1rem;
  }
}
.conversation textarea {
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  width: 100%;
  line-height: 2em;
  padding-left: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
}
@media screen and (min-width: 1440px) {
  .conversation textarea {
    height: 96px;
    font-size: 1rem;
  }
}
.conversation__row {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 2px solid #E1E1E1;
}
.conversation__picture {
  border-style: hidden;
  border-radius: 100%;
  width: 100%;
  background-color: #AFAFAF;
}
.conversation__picture1 {
  margin-top: 24px;
  margin-right: 20px;
  margin-left: 5px;
  height: 20vh;
}
.conversation__details {
  width: 90%;
  margin-right: 0.8rem;
}
.conversation__details > p {
  margin-top: 0;
}
@media screen and (min-width: 1440px) {
  .conversation__details {
    width: 460px;
  }
}
.conversation__profile-picture {
  width: 42px;
  height: 38px;
  border-radius: 100%;
  background-color: #E1E1E1;
}
.conversation__submit-button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .conversation__submit-button {
    display: flex;
    justify-content: flex-end;
  }
}
.conversation__submit {
  display: flex;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 0.4rem;
  border: none;
  justify-content: center;
  padding: 0.7rem;
}
@media screen and (min-width: 768px) {
  .conversation__submit {
    width: 50%;
    padding: 0.7rem;
  }
}
@media screen and (min-width: 1440px) {
  .conversation__submit {
    width: 50%;
    font-size: 1rem;
    padding: 0.7rem;
  }
}
.conversation__img {
  display: flex;
  width: 45px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
}
.conversation__pic {
  display: flex;
  width: 45px;
  height: 30px;
  border-radius: 100%;
  padding-top: 0.8rem;
  padding-left: 0.4rem;
}
.conversation__title {
  padding-left: 1rem;
  font-weight: 600;
  padding-top: 1rem;
}
.conversation__form {
  width: 95%;
  margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .conversation__form {
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .conversation__form {
    margin-left: auto;
    margin-right: auto;
  }
}
.conversation__namedate {
  display: flex;
  justify-content: space-between;
}
.conversation__name {
  font-weight: 600;
}
.conversation__date {
  display: flex;
  color: #AFAFAF;
}
.conversation__info {
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  word-spacing: 0.1rem;
  width: 100%;
}
.conversation__card {
  margin-left: 0.5rem;
  margin-right: 1rem;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .conversation__card {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .conversation__card {
    width: 530px;
  }
}
.conversation__comments {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .conversation__comments img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .conversation__comments {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .conversation__comments {
    margin-left: auto;
    margin-right: auto;
  }
}
.conversation__reply {
  margin: 0;
  padding-bottom: 1rem;
}
.conversation .conversation__container {
  display: flex;
}
.conversation .conversation__container--img {
  padding-right: 4rem;
  margin-left: -3rem;
  padding-top: 1rem;
}
.conversation .conversation__container--submit {
  margin-top: 0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 4.9rem;
  padding-right: 4.9rem;
  border-style: hidden;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 5px;
}
.conversation .conversation__container--info {
  width: 0;
}
.conversation .conversation__container--info--input {
  padding-right: 4.7rem;
  background-color: #E1E1E1;
  border-radius: 5px;
  border-style: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.conversation .conversation__container--info--textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.4rem;
  border-radius: 5px;
  background-color: #E1E1E1;
  border-style: hidden;
}
.conversation .conversation__container--info--title {
  font-size: 0.8rem;
  color: #AFAFAF;
}
.conversation .conversation__container--info--name {
  padding-bottom: 0.8rem;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.shows {
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .shows {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .shows {
    padding-left: 10rem;
    display: flex;
    width: auto;
  }
}
.shows__table {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .shows__table {
    text-align: start;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .shows__table {
    margin-left: 100px;
    width: 70%;
  }
}
.shows__table :hover {
  background-color: #AFAFAF;
}
.shows__card {
  border-bottom: 2px solid #AFAFAF;
  margin-left: 1.2rem;
}
@media screen and (min-width: 768px) {
  .shows__card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .shows__card h3 {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .shows__card p {
    width: 25%;
  }
}
.shows__heading {
  color: #AFAFAF;
  font-family: "Avenir Demi Bold";
}
@media screen and (min-width: 768px) {
  .shows__heading {
    display: none;
  }
}
.shows__title {
  margin: 0;
  padding-left: 2.1rem;
}
@media screen and (min-width: 1440px) {
  .shows__title {
    margin-top: 25px;
  }
}
.shows__button {
  height: 8vh;
  width: 95%;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  border: none;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 25%;
  }
}
@media screen and (min-width: 320px) {
  .shows__header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    display: flex;
    padding-left: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__header p {
    width: 27%;
  }
}
.shows__head {
  color: #AFAFAF;
}/*# sourceMappingURL=main.css.map */