@use './partials/variables' as *;
@use './partials/mixins' as *;

.shows {
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    @include tablet {
        width: 100%;

    }

    @include desktop {
        padding-left: 10rem;
        display: flex;
        width: auto;
    }

    &__table {
        margin-top: 30px;


        @include tablet {
            text-align: start;
            margin-right: 24px;
        }

        @include desktop {
            margin-left: 100px;
            width: 70%;
        }

        :hover {
            background-color: $silver;
        }
    }

    &__card {
        border-bottom: 2px solid $silver;
        margin-left: 1.2rem;

        @include tablet {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            justify-content: center;
        }

        h3 {
            @include tablet {
                width: 30%;
            }
        }

        p {
            @include tablet {
                width: 25%;
            }
        }
    }

    &__heading {
        color: $silver;
        font-family: "Avenir Demi Bold";

        @include tablet {
            display: none;
        }
    }

    &__title {
        margin: 0;
        padding-left: 2.1rem;

        @include desktop {
            margin-top: 25px;
        }
    }

    &__button {
        height: 8vh;
        width: 95%;
        background-color: $bandsite-darkblack;
        color: $white;
        font-size: 1rem;
        border-radius: 5px;
        width: 100%;
        border: none;

        @include tablet {
            width: 25%;
        }
    }

    &__header {

        @include mobile {
            display: none;
        }
    
        @include tablet {
            display: flex;
            padding-left: 2.2rem;
        }
    
        p {
            @include tablet {
                width: 27%;
            }
        } 
    }

    &__head {
        color: $silver;
    }
}